@tailwind base;
@tailwind components;
@tailwind utilities;

section.home {
  background: url(/images/hero-bg.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: multiply;
}

main > section {
  padding-top: 4rem;
}

.event-details-img {
  background: url(/images/hero-bg.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: multiply;
  height: 300px;
  width: auto;
}
